services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    restart: on-failure

  db:
    image: mariadb:11.4.2
    command: --lower_case_table_names=1
    environment:
      - MARIADB_ROOT_PASSWORD=123456
      - MARIADB_DATABASE=hospitaldb
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql